* {
    font-family: 'Merriweather';
}

:root {
    --primary-color: #FF5678;
    --black-color: #000000;
    --white-color: #ffffff;

    --standard-padding: 100px 150px;
}

nav,
header,
#watch-videos-container,
#first-section,
#text-conteiner-first-section,
#second-section,
.block-number-text div,
.craft-section,
.things-list,
.item-team,
.name-memere-team,
#testimonial-section,
#testimonial-heading,
#feedback-block
{
    display: flex;
    justify-content: space-between;
}

.title-heading {
    font-weight: 700;
    font-size: 54px;
    line-height: 72px;
    letter-spacing: 0%;
}

.text-normal {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0%;
}

mark {
    background-color: var(--primary-color);
    color: var(--white-color);
}

body {
    padding: 0;
    margin: 0;
}

nav {
    flex-direction: row;
    align-items: center;
    padding: 8px 150px;

    background: var(--white-color);
    box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.08);
}

#logo {
    display: inline-block;
}

#nav-list {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 8px;

    font-weight: 400;
    font-size: 16px;
    color: var(--var(--black-color)-color);
}

.nav-list-items:hover {
    text-decoration: underline var(--primary-color);
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

.contact-us {
    background-color: var(--black-color);
    padding: 24px 40px;
}

.contact-us:hover {
    background-color: var(--primary-color);
}

.contact-us span {
    font-weight: 400;
    font-size: 16px;
    color: var(--white-color);
}

header {
    padding: 300px 150px 200px;
    flex-direction: row;
    align-items: flex-start;
    gap: 56px;
}

#image-header {
    width: 592px;
    height: 508px;

    border-radius: 200px;
    opacity: 1;
}

.headding {
    width: 548px;
}

.headding span {
    font-weight: 900;
    font-size: 76px;
    color: var(--black-color);
    line-height: 110px;

}

#space {
    margin: 56px;
}

.headding span mark {
    width: 275px;
    height: 70px;

}

.btn-our-work {
    padding: 24px 40px;
    gap: 4px;
    background-color: #020E35;
    box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.25);

}

.btn-our-work span {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0%;

    color: var(--white-color);
}

main {
    position: relative;
}

#first-section {
    padding: 100px 150px;
    flex-direction: row;
}

#text-conteiner-first-section {
    width: 517px;
    height: 435px;
    flex-direction: column;
    gap: 60px;
}

#watch-videos-container {
    width: 212px;
    align-items: center;
    flex-direction: row;
}

#watch-videos-container span {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0%;
}

.text-first-conteiner {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0%;

    text-align: left;
}


#second-section {
    position: relative;
    padding: 100px 150px;
    flex-direction: row;
    align-items: center;
}

.numbers-seconds-slade {
    width: 83px;
    height: 72px;

    font-weight: 400;
    font-size: 64px;
    line-height: 72px;

    -webkit-text-stroke: 1px var(--black-color);
    -webkit-text-fill-color: transparent;
}

.sub-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0%;

}

.block-number-text {
    display: flex;
    flex-direction: row;
    height: 110px;
    margin-top: 8px;
    gap: 40px;
}

.block-number-text div {
    flex-direction: column;
    margin-top: 8px;
    overflow: hidden;
}

.things-list {
    flex-direction: column;
    height: 410px;
    gap: 40px;

}

.craft-section {
    position: relative;
    padding: 100px 150px;
    flex-direction: row;
    align-items: center;
}

#heading-we-craft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.highlight-line {
    background-image: linear-gradient(to top, var(--primary-color) 40%, transparent 40%)
}

.team-section {
    padding: 100px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 104px;
}

#menu-team {
    width: 1620px;
    height: 1109px;
    display: grid;
    grid-template-columns: 515px 515px 515px;
    grid-template-rows: 515px;
    grid-row-gap: 51px;
    grid-column-gap: 32px;
}

.item-team {
    padding: 71px 164px;

    flex-direction: column;
    gap: 60px;
    align-items: center;

    border: 1px solid rgba(184, 184, 184, 1);
    border-radius: 50px;

    text-align: center;
}

.item-team>span {
    text-align: center;
}

.item-team:hover {
    scale: 1.05;
    box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.25);
}

.name-memere-team {
    flex-direction: column;
    gap: 24px;
}

.profetion-persone {
    text-align: center;
}

#previous-work {
    padding: var(--standard-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

#slide-menu {
    gap: 60px;
}

.slide-menu-item {
    padding: 0 60px 0 0;

    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
}

.slide-menu-text {
    padding: 4px;
}

.slide-menu-text:hover {
    text-decoration: underline var(--primary-color);
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

#photos-work-main {
    width: 1620px;
    height: 1376px;
    grid-template-columns: 519px 1376px;
}

.photos-work {
    display: grid;
    grid-gap: 32px;
}

#photos-work-side {
    grid-column: 1 / 1;
    grid-template-rows: 672px;
}

#photos-work-body {
    grid-template-columns: 518px 518px;
    grid-template-areas:
        "left right-first"
        "left right-second"
        "foot foot";
}

.image-work {
    grid-column: 518px 518px;
    background-color: rgba(255, 238, 246, 1);
}

#image-work-body-1 {
    grid-area: left;
}

#image-work-body-2 {
    grid-area: right-first;
}

#image-work-body-3 {
    grid-area: right-second;
}

#image-work-body-4 {
    width: 1068px;
    grid-area: foot;
}

#testimonial-section {
    padding: var(--standard-padding);
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

#testimonial-heading {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 20px;
}

#feedback-block {
    width: 2236px;
    height: 672px;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.feedback-block-item {
    width: 412px;
    height: 555px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 1px solid rgba(148, 148, 148, 1);
    border-radius: 150px;
}

.body-item-feedback {
    width: 253px;
    height: 340px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 46px;
}

.comment-feedback-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.client-feedback {

    display: flex;
    flex-direction: column;
    gap: 6px;
}