body {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 150px;

    background: #FFFFFF;

    box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.08);
}

#logo {
    display: inline-block;
}

#text_logo {
    display: inline-block;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    align-items: center;

    color: #FF5678;
}

.container-logo-nav {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-list-items {
    display: inline-block;
    padding: 8px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.nav-list-items:hover {
    text-decoration: underline #FF5678;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

.contact-us {
    background-color: black;
    padding: 24px 40px;
}

.contact-us:hover {
    background-color: #FF5678;
}

.contact-us span {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

header {
    padding: 300px 150px 200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 56px;
}

#image-header {
    width: 592px;
    height: 508px;

    border-radius: 200px;
    opacity: 1;
}

.headding {
    width: 548px;
}

.headding span {
    font-family: 'Merriweather';
    font-style: black;
    font-weight: 900;
    font-size: 76px;
    color: black;
    line-height: 110px;

}

#space {
    margin: 56px;
}

.headding span mark {
    width: 275px;
    height: 70px;
    background-color: #FF5678;
    color: #FFFFFF;
}

.btn-our-work {
    width: 197px;
    height: 71px;

    padding: 24px 40px;

    background-color: #020E35;
    box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.25);

}

.btn-our-work span {
    font-family: 'Merriweather';
    font-weight: 700;
    font-style: bolt;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0%;

    color: #FFFFFF;
}

main {
    position: relative;
}

#first-section {
    padding: 100px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#text-conteiner-first-section {
    display: flex;
    justify-content: space-between;
    width: 517px;
    height: 435px;
    flex-direction: column;
}

#text-conteiner-first-section button {
    width: 197px;
    height: 71px;

    padding: 24px 40px;
    gap: 4px;

    background-color: #020E35;
    box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.25);
}

#watch-videos-container {
    width: 212px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#watch-videos-container span {
    font-family: Merriweather;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0%;
}

#text-conteiner-first-section button span {
    font-family: 'Merriweather';
    font-weight: 700;
    font-style: bolt;
    font-size: 18px;
    line-height: 23px;

    color: #FFFFFF;
}

.text-first-conteiner {
    font-family: Merriweather;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;

    text-align: left;
}

#title-container {
    width: 428px;
}

.title-heading {
    font-size: 54px;
    font-weight: 700;
    font-style: bold;
    line-height: 62px;
}

#second-section {
    position: relative;
    padding: 100px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.numbers-seconds-slade {
    /* 04 */

    width: 83px;
    height: 72px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;

    -webkit-text-stroke: 1px rgb(0, 0, 0);
    -webkit-text-fill-color: transparent;
}

.sub-title {
    font-family: Merriweather;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0%;

}

.block-number-text {
    display: flex;
    flex-direction: row;
    height: 110px;
    margin-top: 8px;
    gap: 40px;
}

.block-number-text div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8px;
    overflow: hidden;
}

.things-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 410px;
    gap: 40px;
    
}

.craft-section {
    position: relative;
    padding: 100px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#heading-we-craft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.highlight-line {
    background-image: linear-gradient(to top, rgba(255, 86, 120, 1) 40%, transparent 40%)
}

.title-heading-craft {
    font-family: Merriweather;
    font-weight: 700;
    font-style: Bold;
    font-size: 54px;
    line-height: 72px;
    letter-spacing: 0%;
}

.team-section {
    padding: 100px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 104px;
}

#menu-team {
    width: 1620px;
    height: 1109px;
    display: grid;
    grid-template-columns: 515px 515px 515px;
    grid-template-rows: 515px;
    grid-row-gap: 51px;
    grid-column-gap: 32px;
}
.item-team {
    padding: 71px 164px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    align-items: center;

    border: 1px solid rgba(184, 184, 184, 1);
    border-radius: 50px;
}
.item-team:hover {
    scale: 1.05;
    box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.25);
}
.name-memere-team {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.name-persone {
    font-family: 'Merriweather';
    font-weight: 700;
    font-style: bold;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0%;
    width: auto;

    text-align: center;
}

.profetion-persone {
    font-family: Merriweather;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0%;

    text-align: center;
}