body {
    padding: 0;
    margin: 0;
}

nav {
    /* Header */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 150px;

    background: #FFFFFF;
    /* Menu */
    box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.08);
}
#logo {
    display: inline-block;
}
#text_logo {
    /* Zebb */
    display: inline-block;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    align-items: center;

    /* Primary/500 */
    color: #FF5678;
}
.container-logo-nav {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-list-items {
    display: inline-block;
    padding: 8px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;
}
.nav-list-items:hover {
    text-decoration: underline #FF5678;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

.contact-us {
    background-color: black;
    padding: 24px 40px;
}
.contact-us:hover {
    background-color: #FF5678;
}
.contact-us span {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
